[submodule "libraries/master/delite"]
	path = libraries/master/delite
	url = https://github.com/ibm-js/delite
	branch = master
[submodule "libraries/master/deliteful"]
	path = libraries/master/deliteful
	url = https://github.com/ibm-js/deliteful
	branch = master
[submodule "libraries/master/dpointer"]
	path = libraries/master/dpointer
	url = https://github.com/ibm-js/dpointer
	branch = master
[submodule "libraries/master/dtreemap"]
	path = libraries/master/dtreemap
	url = https://github.com/ibm-js/dtreemap
	branch = master
[submodule "libraries/master/dcolor"]
	path = libraries/master/dcolor
	url = https://github.com/ibm-js/dcolor
	branch = master
[submodule "libraries/master/dcl"]
	path = libraries/master/dcl
	url = https://github.com/uhop/dcl.git
	branch = master
[submodule "libraries/master/dojo"]
	path = libraries/master/dojo
	url = https://github.com/dojo/dojo.git
[submodule "libraries/master/dstore"]
	path = libraries/master/dstore
	url = https://github.com/SitePen/dstore.git
[submodule "libraries/master/requirejs-text"]
	path = libraries/master/requirejs-text
	url = https://github.com/requirejs/text.git
[submodule "libraries/master/ecma402"]
	path = libraries/master/ecma402
	url = https://github.com/ibm-js/ecma402.git
[submodule "libraries/master/requirejs-dplugins"]
	path = libraries/master/requirejs-dplugins
	url = https://github.com/ibm-js/requirejs-dplugins.git
[submodule "libraries/master/liaison"]
	path = libraries/master/liaison
	url = https://github.com/ibm-js/liaison.git
[submodule "libraries/master/decor"]
	path = libraries/master/decor
	url = https://github.com/ibm-js/decor.git
