[submodule "libraries/master/delite"]
	path = libraries/master/delite
	url = https://github.com/ibm-js/delite
	branch = master
[submodule "libraries/master/deliteful"]
	path = libraries/master/deliteful
	url = https://github.com/ibm-js/deliteful
	branch = master
[submodule "libraries/master/dpointer"]
	path = libraries/master/dpointer
	url = https://github.com/ibm-js/dpointer
	branch = master
[submodule "libraries/master/dtreemap"]
	path = libraries/master/dtreemap
	url = https://github.com/ibm-js/dtreemap
	branch = master
[submodule "libraries/master/dcolor"]
	path = libraries/master/dcolor
	url = https://github.com/ibm-js/dcolor
	branch = master
[submodule "libraries/master/dcl"]
	path = libraries/master/dcl
	url = https://github.com/uhop/dcl.git
	branch = master
