<!DOCTYPE>
<html>
	<head>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
		<link rel="stylesheet" href="/css/home.css" type="text/css" media="all" />
	</head>
	<body>
		<header class="header"><div>
			<div>
				<img class="logo" src="https://avatars0.githubusercontent.com/u/3503805?s=48"><div class="title">IBM JavaScript Projects</div></div>
				<!--<div class="desktop">IBM-sponsored JavaScript projects</div>-->
			</div>
		</header>
		<div class="content">
			{{content}}
		</div>
	</body>
</html>
